---
layout: default
---


<center>Mercury Care Management helps families set-up and manage at-home care for their aging loved one. Partnering with businesses as an employee benefit, we connect families with a care transition manager who provides crisis level assistance to families after a major incident or lifestyle change for their elderly parent. By helping employees balance these personal responsibilities, employees can remain more focused at work and get back to work sooner. </center> 

<img src="Happy Old Man.jpeg" alt="Happy Customer">





<div class="page-content">
  <h1>
    {{ page.title }}
  </h1>
  <article>
    {{ content }}
  </article>
</div>




---
layout: default
title: Home
image: Logo.png
---
<img src="Logo.png" alt="Mercury Care Logo">

<center>Mercury Care Management helps families set-up and manage at-home care for their aging loved one. Partnering with businesses as an employee benefit, we connect families with a care transition manager who provides crisis level assistance to families after a major incident or lifestyle change for their elderly parent. By helping employees balance these personal responsibilities, employees can remain more focused at work and get back to work sooner. </center> 

<img src="Happy Old Man.jpeg" alt="Happy Customer">


