---
layout: default
title: Home
---
Mercury Care Management helps families set-up and manage at-home care for their aging loved one. Partnering with businesses as an employee benefit, we connect families with a care transition manager who provides crisis level assistance to families after a major incident or lifestyle change for their elderly parent. By helping employees balance these personal responsibilities, employees can remain more focused at work and get back to work sooner. 

![title](/assets/img/Happy Old Man.jpeg)

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
